# https://coverage.readthedocs.io/en/latest/config.html

[run]
branch = True
include = loopstr/apps/*
omit =
    *migrations*
    *tests*
    conftest.py
    */__init__.py
    */apps.py
    */admin.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
